# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.output
assets-built
stats.html
stats-*.json
.wxt
web-ext.config.ts
example
!example/
!example/**

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
AGENTS.md
AI.md
assets/ort/
public/ort/
*.onnx
assets/onnx
assets/kittenTTS
assets/supertonic
assets/moonshine
.test-build
